<div class="genreShow">
<div class="row">
  <div class="sm-col-12">
      <center><h2><div id="genreName"></div><div id="htmlGenreName"><u><%= @genre.name %></u></div>
      </h2>
    </center>
  </div>
</div>

<div class="row">
  <div class="sm-col-12">
    <div id="genreBookTitle"></div>
    <div id="genreBookTitleHTML"><h3><u>Books in this genre:</u></h3></div>
    <div id="htmlGenreBooks">
      <ul>
        <% @genre.books.each do |book| %>
          <li><center><p><u><%= link_to book.title, book_path(book.id) %></u></p></li>
        <% end %>
      </ul>
    </div>
    <center>
      <div id="genreBooks">
      </div>
    </center>
  </div>
</div>

<div class="row">
  <div class="sm-col-12">
    <center>
      <br><br>
      <a href="#" id="js-next-genre" class="btn btn-primary" role="button" data-id="<%= @genre.id %>">Next Genre</a>
    </center>
  </div>
</div>
</div>

<div class="row">
  <div class="sm-col-12">
    <center>
      <div id="genreError">
      </div>
    </center>
  </div>
</div>
