<div class="row">
    <div class="col-sm-12">
      <center>
        <h1><u>The Great Listby Books</u></h1>
      </center>
    </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div id="books_index">
    </div>
  </div>
</div>
